<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{siteLayouts/masterLayout}">

<body>
  <div layout:fragment="siteContent">
		<div class="row">
			<div th:class="${formGroup1}">
				<span class="glyphicon glyphicon-warning-sign glyphicon-error"></span>
			</div>
			<div th:class="${formGroup9}">
				<h1 id="wb-cont" th:utext="#{error.title}">Error</h1>
			</div>
		</div>

    <p>
      <span th:utext='#{error.message.general}'>Something is not right, please return to the start of</span>
      <a th:href="${@environment.getProperty('operation.basePath')}" 
         th:utext="#{application.title}">Site Demo</a>
      <span>.</span>
    </p>
    
  </div>
</body>
</html>