<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{siteLayouts/masterLayout}">
<head>
	<title th:utext="#{title.product.info}" />
</head>
<body>
<h1 layout:fragment="h1" id="wb-cont" th:utext="#{title.product.info}"></h1>
<div layout:fragment="siteContent">
	<p class="mrgn-tp-md mrgn-bttm-lg">
		<a th:href="@{/search}" th:utext="#{label.results.new.search}"/>
	</p>
	<!--	Display application error messages
	<div class="mrgn-tp-md mrgn-bttm-lg">
		<logic:present name="org.apache.struts.action.ACTION_MESSAGE" scope="request" >
			<div class="alert alert-danger">
				<html:messages id="message"	message="true" bundle="messageRes">
					<h2><bean:write name="message" /></h2>
				</html:messages>
			</div>
		</logic:present>

		&lt;!&ndash;Display validation error messages&ndash;&gt;
		<logic:present name="org.apache.struts.action.ERROR" scope="request">
			<div class="alert alert-danger">
				<h2><bean:message bundle="messageRes" key="error.message" /></h2>
				<html:errors bundle="messageRes" />
			</div>
		</logic:present>
	</div>

	<logic:equal name="similarAIG" value="Y" scope="request">
		<div class="alert alert-info"><h3><bean:message bundle="messageRes" key="message.no.match" /></h3><p><bean:message bundle="messageRes" key="message.no.similar.aig.product" /></p></div>
	</logic:equal>
	<logic:equal name="similarProduct" value="Y" scope="request">
		<div class="alert alert-info"><h3><bean:message bundle="messageRes" key="message.no.match" /></h3><p><bean:message bundle="messageRes" key="message.no.similar.company.product" /></p></div>
	</logic:equal>
-->
	<!-- if the drug class is not veterinary and the pm exist put a disclaimer and the pm link -->
	<div th:if="${dpdSelectedProduct.isPmAvailable}">
		<div th:if="${dpdSelectedProduct.pmName != null}">
			<div th:if="${dpdSelectedProduct.din != '02337258'}">
				<div th:if="${dpdSelectedProduct.din !='02336650'}">
					<p class="well" th:utext="#{label.pm.disclaimer}" />
				</div>
			</div>

			<!-- added condition if DIN = 02336650 put h1n1 disclaimer - Date: Oct. 22, 2009 -->
			<div th:if="${dpdSelectedProduct.din == '02336650'}">
				<div class="well" th:utext="#{label.pm.h1n1.din02336650.disclaimer}" />
			</div>
			<!-- added condition if DIN = 02337258 put h1n1 disclaimer - Date: Nov. 5, 2009 -->
			<div th:if="${dpdSelectedProduct.din == '02337258'}" >
				<div class="well" th:utext="#{label.pm.h1n1.din02337258.disclaimer}" />
			</div>
		</div>
	</div>

	<div class="row">
		<p class="col-sm-4"><strong th:utext="#{label.product.current.status}"/>
		<p class="col-sm-8" th:if="${dpdSelectedProduct.statusLangOfPart != ''}">
			<span class="strong" th:xmllang="${dpdSelectedProduct.statusLangOfPart}" th:lang="${dpdSelectedProduct.statusLangOfPart}" th:utext ="${dpdSelectedProduct.status}"/>
		</p>
		<p class="col-sm-8" th:unless="${dpdSelectedProduct.statusLangOfPart != ''}">
			<strong th:utext="${dpdSelectedProduct.status}" />
		</p>
	</div>
	<div th:if="${not dpdSelectedProduct.isRadioPharmaceutical}">
		<div class="row">
			<p class="col-sm-4">
				<strong th:utext="#{label.product.current.date}"/>
			<p class="col-sm-8" th:utext="${dpdSelectedProduct.historyDate}" />
		</div>
		<div class="row">
			<div th:if="${not dpdSelectedProduct.isApproved}">
				<p class="col-sm-4">
					<strong th:utext:="#{label.original.market.date}"/>
					<sup id="fn1-rf"><a class="fn-lnk" href="#fn1"><span class="wb-inv" th:utext="#{label.results.see.footnote}"/> 1</a></sup>
				</p>
				<p class="col-sm-8" th:utext="${dpdSelectedProduct.originalMarketDate}" />
			</div>
		</div>
	</div>

	<div th:if="${dpdSelectedProduct.lotNumber != null}">
		<div class="row">
			<p class="col-sm-4">
				<strong th:utext="#{label.lot.number}"/>
				<sup id="fn2-rf"><a class="fn-lnk" href="#fn2"><span class="wb-inv" th:utext="#{label.results.see.footnote}"/> 2</a></sup>
			</p>
			<p class="col-sm-8" th:utext="${dpdSelectedProduct.lotNumber}" />
		</div>
	</div>

    <div th:if="${dpdSelectedProduct.expirationDate != null}">
           <div class="row">
               <p class="col-sm-4">
                   <strong th:utext="#{label.expiry.date}"/>
                   <sup id="fn2-rf"><a class="fn-lnk" href="#fn2"><span class="wb-inv" th:utext="#{label.results.see.footnote}"/> 2</a></sup>
               </p>
               <p class="col-sm-8" th:utext="${dpdSelectedProduct.expirationDate}" />
           </div>
    </div>


	<div class="row">
		  <p class="col-sm-4">
			  <strong th:utext="#{label.product.brand.name}"/>
		  </p>
		  <p class="col-sm-8">
			  <span th:if="${dpdSelectedProduct.brandNameLangOfPart != ''}">
				  <span th:xmllang='${dpdSelectedProduct.brandNameLangOfPart}' th:lang='${dpdSelectedProduct.brandNameLangOfPart}' th:utext="${dpdSelectedProduct.brandName}"/>
			  </span>
			  <span th:unless="${dpdSelectedProduct.brandNameLangOfPart != ''}" th:utext="${dpdSelectedProduct.brandName}"/>
		  </p>
	</div>
	<div class="row">
		 <div th:if="${dpdSelectedProduct.descriptor != null}">
			 <p class="col-sm-4">
				 <strong th:utext="#{label.product.description}"/>
			 </p>
			 <p class="col-sm-8">
				 <div th:if="${dpdSelectedProduct.descriptorLangOfPart != ''">
					 <span xml:lang='${dpdSelectedProduct.descriptorLangOfPart}' lang='${dpdSelectedProduct.descriptorLangOfPart}' th:utext="${dpdSelectedProduct.descriptor}"/>
				 </div>
				 <div th:if="${dpdSelectedProduct.descriptorLangOfPart == ''" th:utext="${dpdSelectedProduct.descriptor}"/>
			 </p>
		 </div>
    </div>
    <!-- if the drug class is not veterinary and the pm does not exist put a label saying the PM is not available -->
	<div th:if="${dpdSelectedProduct.isPmAvailable}">
		<div th:if="${dpdSelectedProduct.pmName != ''">
			 <span class="help-block" th:utext="#{label.blurb.alternate.format}">
				 <a th:href="#{link.blurb.alternate.format}"  th:text="#{label.link.blurb.alternate.format}"/>.
			 </span>
			 <div class="row">
				 <p class="col-sm-4">
					 <strong th:utext="#{label.product.din}"/>
				 </p>
				 <p class="col-sm-8">
					 <span th:utext="${dpdSelectedProduct.din}"/>
				 </p>
			 </div>
			<div class="row">
				<p class="col-sm-4">
					<strong th:utext="#{label.product.monograph}"/>
				</p>
				<p class="col-sm-8"><strong th:utext="#{label.product.monograph.date}" />
					<span th:text="${dpdSelectedProduct.pmDate}"/>
					<span class="glyphicon glyphicon-paperclip mrgn-lft-xl">
						<a href="#{pmLocation} + ${dpdSelectedProduct.pmName}' />" th:text="#{button.viewPM}"/><br/>
					</span>
				</p>
			</div>
		 </div>
	</div>

	<div th:if="${dpdSelectedProduct.pmName == ''}">
		<div class="row">
			<p class="col-sm-4">
				<strong th:utext="#{label.product.din}"/>
			</p>
			<p class="col-sm-8" th:utext="${dpdSelectedProduct.din}" >
				<span class="well well-sm  mrgn-lft-xl" th:utext="#{button.disabledPM}"/>
			</p>
		</div>
	</div>

	<!-- if the drug class is not veterinary and the pm does not exist only put the din no message -->
	<div th:if="${dpdSelectedProduct.pmName == null}">
		<div class="row">
			<p class="col-sm-4">
				<strong th:utext="#{label.product.din}"/>
			</p>
			<p class="col-sm-8" th:utext="${dpdSelectedProduct.din}">
				<span class="well well-sm mrgn-lft-xl" th:utext="#{button.disabledPM}"/>
			</p>
		</div>
	</div>

	<div class="row">
		<p class="col-sm-4">
			<strong th:utext="#{label.product.company}"/>
		</p>
		<!--
		<p class="col-sm-8">
			<bean:define id="lang" >
				<bean:message bundle="clfRes" key="label.app.lang" />
			</bean:define>
			<bean:define id="code" name="dpd.selected.product" property="companyId" />

			<%
			java.util.HashMap params= new java.util.HashMap();
			params.put("code", code);
			params.put("lang", lang);
			pageContext.setAttribute("params", params);

			%>
			<html:link action="/search-fast-recherche-rapide" name="params" styleId="company" titleKey="link.title.product.company">
				<bean:write name="dpd.selected.product" property="companyVO.companyName" scope="session"/>
			</html:link>


			<logic:present name="dpd.selected.product" property="companyVO.suiteNumner" scope="session">
				<br/>
				<bean:write name="dpd.selected.product" property="companyVO.suiteNumner" scope="session"/>&nbsp;
			</logic:present>
			<logic:notPresent name="dpd.selected.product" property="companyVO.suiteNumner" scope="session">
				<logic:present name="dpd.selected.product" property="companyVO.streetName" scope="session">
					<br/>
				</logic:present>
			</logic:notPresent>

			<logic:present name="dpd.selected.product" property="companyVO.streetName" scope="session">
				<bean:define id="streetNameLangOfPart" name="dpd.selected.product" property="streetNameLangOfPart"></bean:define>
				<logic:notEmpty name="streetNameLangOfPart">
					<span xml:lang='<%= streetNameLangOfPart %>' lang='<%= streetNameLangOfPart %>'><bean:write name="dpd.selected.product" property="companyVO.streetName" scope="session"/></span>
				</logic:notEmpty>
				<logic:empty name="streetNameLangOfPart">
					<bean:write name="dpd.selected.product" property="companyVO.streetName" scope="session"/>
				</logic:empty>
			</logic:present>


			<logic:present name="dpd.selected.product" property="companyVO.cityName" scope="session">
				<br/><bean:write name="dpd.selected.product" property="companyVO.cityName" scope="session"/>
			</logic:present>

			<logic:present name="dpd.selected.product" property="companyVO.province" scope="session">
				<br/>
				<bean:define id="provinceLangOfPart" name="dpd.selected.product" property="provinceLangOfPart"></bean:define>
				<logic:notEmpty name="provinceLangOfPart">
					<span xml:lang='<%= provinceLangOfPart %>' lang='<%= provinceLangOfPart %>'><bean:write name="dpd.selected.product" property="companyVO.province" scope="session"/></span>
				</logic:notEmpty>
				<logic:empty name="provinceLangOfPart">
					<bean:write name="dpd.selected.product" property="companyVO.province" scope="session"/>
				</logic:empty>
			</logic:present>

			<logic:present name="dpd.selected.product" property="companyVO.country" scope="session">
				<br/>
				<bean:define id="countryLangOfPart" name="dpd.selected.product" property="countryLangOfPart"></bean:define>
				<logic:notEmpty name="countryLangOfPart">
					<span xml:lang='<%= countryLangOfPart %>' lang='<%= countryLangOfPart %>'><bean:write name="dpd.selected.product" property="companyVO.country" scope="session"/></span>
				</logic:notEmpty>
				<logic:empty name="countryLangOfPart">
					<bean:write name="dpd.selected.product" property="companyVO.country" scope="session"/>
				</logic:empty>
			</logic:present>

			<logic:present name="dpd.selected.product" property="companyVO.postalCode" scope="session">
				&nbsp;<bean:write name="dpd.selected.product" property="companyVO.postalCode" scope="session"/>
			</logic:present>
		</p> -->
	</div>
	<div class="row">
		<p class="col-sm-4">
			<strong th:utext="#{label.product.class}" />
		</p>
		<p class="col-sm-8">
<!--			<bean:define id="classLangOfPart" name="dpd.selected.product" property="drugClassLangOfPart"></bean:define>
			<logic:notEmpty name="classLangOfPart">
				<span xml:lang='<%= classLangOfPart %>' lang='<%= classLangOfPart %>'><bean:write name="dpd.selected.product" property="drugProduct.drugClass" scope="session"/></span>
			</logic:notEmpty>
			<logic:empty name="classLangOfPart">
				<bean:write name="dpd.selected.product" property="drugProduct.drugClass" scope="session"/>
			</logic:empty>-->
		</p>
	</div>
	<div th:if="${dpdSelectedProduct.isVeterinary}">
		<div class="row">
			<p class="col-sm-4">
				<strong th:utext="#{label.product.veterinarian.species}"/>
			</p>
			<p class="col-sm-8">
				<div th:if="${dpdSelectedProduct.vetSpecies != null}">
<!--					<bean:define id="speciesCount" name="dpd.selected.product" property='<%= "vetSpeciesCount" %>'></bean:define>
					<logic:iterate id="element" name="dpd.selected.product" property="vetSpecies" indexId="index">
						<bean:define id="speciesLangOfPart" name="dpd.selected.product" property='<%= "vetSpeciesLangOfPart[" + index + "]" %>'></bean:define>
						<logic:notEmpty name="speciesLangOfPart">
							<span xml:lang='<%= speciesLangOfPart %>' lang='<%= speciesLangOfPart %>'><bean:write name="element"  property="vetSpecies"/></span><logic:greaterThan name="dpd.selected.product" property="vetSpeciesCount" value='<%= new Integer(index + 1).toString() %>'>,&nbsp;</logic:greaterThan>
						</logic:notEmpty>
						<logic:empty name="speciesLangOfPart">
							<bean:write name="element"  property="vetSpecies"/><logic:greaterThan name="dpd.selected.product" property="vetSpeciesCount" value='<%= new Integer(index + 1).toString() %>'>,&nbsp;</logic:greaterThan>
						</logic:empty>
					</logic:iterate>-->
				</div>
				<div th:if="${dpdSelectedProduct.vetSpecies == null}" th:utext="#{message.not.provided}"/>
			</p>
		</div>
	</div>

	<div class="row">
		<p class="col-sm-4">
			<strong th:utext="#{label.product.dosage.form}"/>
		</p>
		<p class="col-sm-8">
<!--			<logic:present name="dpd.selected.product" property="formList" scope="session">
				<logic:iterate id="element" name="dpd.selected.product" property="formList" indexId="index">
					<bean:define id="formLangOfPart" name="dpd.selected.product" property='<%= "formLangOfPart[" + index + "]" %>'></bean:define>
					<logic:notEmpty name="formLangOfPart">
						<span xml:lang='<%= formLangOfPart %>' lang='<%= formLangOfPart %>'><bean:write name="element"  property="pharmaceuticalForm"/></span><logic:greaterThan name="dpd.selected.product" property="pharmaceuticalFormCount" value='<%= new Integer(index + 1).toString() %>'>,&nbsp;</logic:greaterThan>
					</logic:notEmpty>
					<logic:empty name="formLangOfPart"><bean:write name="element"  property="pharmaceuticalForm"/><logic:greaterThan name="dpd.selected.product" property="pharmaceuticalFormCount" value='<%= new Integer(index + 1).toString() %>'>,&nbsp;</logic:greaterThan></logic:empty>
				</logic:iterate>
			</logic:present>
			<logic:notPresent name="dpd.selected.product" property="formList">
				<bean:message bundle="messageRes" key="message.not.provided"/>
			</logic:notPresent>
			<logic:notPresent name="dpd.selected.product" property="formList">
				<bean:message bundle="messageRes" key="message.not.provided"/>
			</logic:notPresent>-->
		</p>
	</div>

<!--	<jsp:include page="/jsp/product_info_a.jsp"/>
	<jsp:include page="/jsp/product_info_b.jsp"/>-->

	<aside class="wb-fnote wb-fnote-inited" role="note">
		<h3 id="fn" th:utext="#{label.results.page.footnotes}"/>
		<dl>
			<div th:if="${not dpdSelectedProduct.isRadioPharmaceutical}" id="f1">
				<div th:if="${not dpdSelectedProduct.isApproved}">
					<dt id="fn1-dt" th:utext="#{label.results.footnote} + 1" />
					<dd aria-labelledby="fn1-dt" tabindex="-1" id="fn1">
						<p th:utext="#{label.product.orig.market.date.help}"/>
						<p class="fn-rtn"><a href="#fn1-rf"><span class="wb-inv" th:utext="#{label.results.return.to.footnote}"/> 1<span class="wb-inv" th:utext="#{label.results.referrer}"/></a></p>
					</dd>
				</div>
			</div>

			<div th:if="${dpdSelectedProduct.displayFootnoteTwo}" id="f2">
				<dt id="fn2-dt" th:utext="#{label.results.footnote} + 2" />
				<dd aria-labelledby="fn2-dt" tabindex="-1" id="fn2">
					<p th:utext="#{label.lotNumber.expiryDate.help}"/>
					<p class="fn-rtn"><a href="#fn2-rf"><span class="wb-inv" th:utext="#{label.results.return.to.footnote}"/> 2<span class="wb-inv" th:utext="#{label.results.referrer}"/></a></p>
				</dd>
			</div>

			<dt id="fn4-dt" th:utext="#{label.results.footnote} + 4" />
			<dd aria-labelledby="fn4-dt" tabindex="-1" id="fn4">
				<p th:utext="#{label.product.atc.help}"/>
				<p class="fn-rtn"><a href="#fn4-rf"><span class="wb-inv" th:utext="#{label.results.return.to.footnote}"/> 4<span class="wb-inv" th:utext="#{label.results.referrer}"/></a></p>
			</dd>
			<dt id="fn5-dt" th:utext="#{label.results.footnote} + 5" />
			<dd aria-labelledby="fn5-dt" tabindex="-1" id="fn5">
				<p th:utext="#{label.product.aig.no.help0}"/>
				<ul>
					<li th:utext="#{label.product.aig.no.help1}"/>
					<li th:utext="#{label.product.aig.no.help2}"/>
					<li th:utext="#{label.product.aig.no.help3}"/>
				</ul>
				<p class="fn-rtn"><a href="#fn5-rf"><span class="wb-inv" th:utext="#{label.results.return.to.footnote}"/> 5<span class="wb-inv" th:utext="#{label.results.referrer}"/></a></p>
			</dd>
			<div th:if="${showFootnoteSix}">
				<dt id="fn6-dt" th:utext="#{label.results.footnote} + 6" />
				<dd aria-labelledby="fn6-dt" tabindex="-1" id="fn6">
					<p th:utext="#{label.product.ahfs.note}"/>
					<p class="fn-rtn"><a href="#fn6-rf"><span class="wb-inv" th:utext="#{label.results.return.to.footnote}"/> 6<span class="wb-inv" th:utext="#{label.results.referrer}"/></a></p>
				</dd>
			</div>
			<div th:if="#{dpdselectedProduct.displayFootnoteSeven}">
				<dt id="fn7-dt" th:utext="#{label.results.footnote} + 7" />
				<dd aria-labelledby="fn7-dt" tabindex="-1" id="fn7">
					<p th:utext="#{label.riskManagementPlans.note}"/>
					<p class="fn-rtn"><a href="#fn7-rf"><span class="wb-inv" th:utext="#{label.results.return.to.footnote}"/> 7<span class="wb-inv" th:utext="#{label.results.referrer}"/></a></p>
				</dd>
			</div>

		</dl>
	</aside>
</div>
</body>
</html>