<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{siteLayouts/masterLayout}">
<body>
<div layout:fragment="siteContent">

	<!--Display application error messages-->
<!--	<div class="mrgn-tp-md mrgn-bttm-lg">-->
<!--		<logic:present name="org.apache.struts.action.ACTION_MESSAGE" scope="request" >-->
<!--			<div class="alert alert-danger">-->
<!--				<html:messages id="message"	message="true" bundle="messageRes">-->
<!--					<h2><bean:write name="message" /></h2>-->
<!--				</html:messages>-->
<!--			</div>-->
<!--		</logic:present>-->

<!--		&lt;!&ndash;Display validation error messages&ndash;&gt;-->
<!--		<logic:present name="org.apache.struts.action.ERROR" scope="request">-->
<!--			<div class="alert alert-danger">-->
<!--				<h2><bean:message bundle="messageRes" key="error.message" /></h2>-->
<!--				<html:errors bundle="messageRes" />-->
<!--			</div>-->
<!--		</logic:present>-->
<!--	</div>-->

	<p class="well" th:utext="#{label.disclaimer.language}">
	</p>


	<div class="alert alert-info">
		<strong><span th:utext="#{title.notice.ahfs}" /></strong>
		<p th:utext="#{label.notice.ahfs}" >
		</p>
	</div>

	<h2 th:utext="#{label.search.criteria}"></h2>

	<p class="help-block" th:utext="#{prompt.search.drug.instruction}"></p>
	<div class="wb-frmvld">
		<form id="searchForm" th:action="@{/search}" th:object="${searchForm}" method="post" class="form-horizontal" role="form">
			<fieldset class="mrgn-tp-md"><legend th:utext="#{label.search.by.din}" /></legend>
				<div class="form-group">
					<label for="din" class="col-lg-3 control-label" th:utext="#{label.search.drug.din}"></label>
					<div class="col-lg-9">
						<!--<logic:messagesPresent name="org.apache.struts.action.ERROR" property="DIN">
							<bean:message bundle="messageRes" key="error.invalide.din.without.anchor" />
						</logic:messagesPresent>-->
						<input type="text" th:field="*{din}" size="8"  id="din" maxlength="8" class="form-control" />
					</div>
				</div>
			</fieldset>

			<fieldset class="mrgn-tp-md"><legend th:utext="#{label.search.by.atc}" /></legend>
				<div class="form-group">
					<label for="atc" class="col-lg-3 control-label" th:utext="#{label.search.drug.atc}"/></label>
					<div class="col-lg-9">
						<input type="text" th:field="*{atc}" size="7" id="atc" maxlength="7" class="form-control" />
					</div>
				</div>
			</fieldset>

			<fieldset class="mrgn-tp-md"><legend th:utext="#{label.search.by.other}" /></legend>
				<div class="form-group">
				   <label for="status" class="col-lg-3 control-label" th:utext="#{label.search.drug.status}"/></label>
				   <div class="col-lg-9 colmrgn-bttm-sm">
					   <!--<logic:messagesPresent name="org.apache.struts.action.ERROR" property="status">
						   <bean:message bundle="messageRes" key="error.invalide.status.without.anchor" />
					   </logic:messagesPresent> -->
					   <select id="status" th:field="*{status}" class="form-control" multiple="true" size="5">
						   <option th:each="s:${statuses}" th:utext="${s.label}" th:value="${s.value}" th:selected="${s.value==0}"/>
					   </select>
				   </div>
				</div>
				<div class="form-group">
				   <label for="company" class="col-lg-3 control-label" th:utext="#{label.search.drug.company}"/></label>
				   <div class="col-lg-9 mrgn-bttm-sm">
<!--					   <logic:messagesPresent name="org.apache.struts.action.ERROR" property="companyName">
						   <bean:message bundle="messageRes" key="error.invalide.company.without.anchor" />
					   </logic:messagesPresent>-->
					   <input type="text" th:field="*{companyName}" id="company" maxlength="80" class="form-control" />
				   </div>
				</div>
				<div class="form-group">
				   <label for="product" class="col-lg-3 control-label" th:utext="#{label.search.drug.product}"/></label>
				   <div class="col-lg-9 mrgn-bttm-sm">
<!--					   <logic:messagesPresent name="org.apache.struts.action.ERROR" property="brandName">
						   <bean:message bundle="messageRes" key="error.invalide.product.without.anchor" />
					   </logic:messagesPresent>-->
					   <input type="text" th:field="*{productName}" id="product" maxlength="80" class="form-control" />
				   </div>
			    </div>
				<div class="form-group">
					<label for="activeIngredient" class="col-lg-3 control-label" th:utext="#{label.search.drug.active.ingredient}"/></label>
					<div class="col-lg-9 mrgn-bttm-sm">
<!--						<logic:messagesPresent name="org.apache.struts.action.ERROR" property="activeIngredient">
							<bean:message bundle="messageRes" key="error.invalide.ai.without.anchor" />
						</logic:messagesPresent>-->
						<input type="text" th:field="*{activeIngredient}" id="activeIngredient" maxlength="240" class="form-control" />
					</div>
				</div>
				<div class="form-group">
				   <label for="aigNumber" class="col-lg-3 control-label" th:utext="#{label.search.drug.active.ingredient.group}"/></label>
				   <div class="col-lg-9 mrgn-bttm-sm">
<!--					   <logic:messagesPresent name="org.apache.struts.action.ERROR" property="aigNumber">
						   <bean:message bundle="messageRes" key="error.invalide.aig.without.anchor" />
					   </logic:messagesPresent>-->
					   <input type="text" th:field="*{aigNumber}" size="10" id="aigNumber" maxlength="10" class="form-control" />
				   </div>
			    </div>

			    <div class="form-group">
				   <label for="biosimDrug"  class="col-lg-3 control-label" th:utext="#{label.search.drug.biosimDrug}"/></label>
				   <input type="checkbox" id="biosimDrug" th:checked="${biosimDrugSearch}" class="larger"/>
			    </div>

			    <div class="form-group">
				   <label for="drugClass" class="col-lg-3 control-label" th:utext="#{label.search.drug.class}"/></label>

				   <div class="col-lg-9 mrgn-bttm-sm">
					   <select name="search" th:field="*{drugClass}" id="drugClass" multiple="true" size="5" class="form-control" >
						   <option th:each="u:${drugClasses}" th:utext="${u.label}" th:value="${u.value}" />
					   </select>
				   </div>
			    </div>
			    <div class="form-group">
				   <label for="route" class="col-lg-3 control-label" th:utext="#{label.search.drug.route}"/></label>

				   <div class="col-lg-9 mrgn-bttm-sm">
					   <select th:field="*{route}" id="route" multiple="true" size="5" class="form-control" >
						   <option th:each="u:${routes}" th:utext="${u.label}" th:value="${u.value}" />
					   </select>
				   </div>
			    </div>
			    <div class="form-group">
				   <label for="dosage" class="col-lg-3 control-label" th:utext="#{label.search.drug.dosage.form}"/></label>

				   <div class="col-lg-9 mrgn-bttm-sm">
					   <select th:field="*{dosage}" id="dosage" multiple="true" size="5" class="form-control" >
						   <option th:each="u:${dosages}" th:utext="${u.label}" th:value="${u.value}" />
					   </select>
				   </div>
			    </div>
			    <div class="form-group">
				   <label for="schedule" class="col-lg-3 control-label" th:utext="#{label.search.drug.schedule}"/></label>

				   <div class="col-lg-9">
					   <select th:field="*{schedule}" id="schedule" multiple="true" size="5" class="form-control" >
						   <option th:each="u:${schedules}" th:utext="${u.label}" th:value="${u.value}" />
					   </select>
				   </div>
			    </div>
			    <div class="form-group">
				   <label for="vetSpecies" class="col-lg-3 control-label" th:utext="#{label.search.drug.species}"/></label>

				   <div class="col-lg-9">
					   <select th:field="*{vetSpecies}" id="vetSpecies" multiple="true" size="5" class="form-control" >
						   <option th:each="u:${species}" th:utext="${u.label}" th:value="${u.value}" />
					   </select>
				   </div>
			    </div>
            </fieldset>

			<div class="form-group">
			   <div class="col-lg-offset-3">
				   <input type="submit" class="btn btn-primary mrgn-rght-sm mrgn-lft-md" th:value="#{button.search}" />
				   <input type="reset" class="btn btn-default" th:value="#{button.reset}" />
			   </div>
		    </div>

			<div class="clearfix"></div>
		</form>
	</div>
</div>
</body>
</html>